<h3>Total awards for movies appearing in: <%= actor.actor_award_count %></h3>

<h3>Movies Appearing In</h3>
<ul>
  <% actor.movies.each do |movie| %>
    Title: <%= link_to movie.title, movie %><br>
    Genre: <%= link_to movie.genre.title, movie.genre %><br><br>
  <% end %>
</ul>
