<h1>Create New Actor!</h1>

<%= render partial: 'form', locals: {actor: @actor} %>

<div id="actorResult">
  <strong>Actor Name: </strong><p id="actorName"></p>
  <strong>Actor Gender: </strong><p id="actorGender"></p>
  <strong>Actor Age: </strong><p id="actorAge"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#new_actor').submit(function(event) {
      event.preventDefault();
      let values = $(this).serialize();

      let posting = $.post('/actors', values);

      posting.done(function(data) {
        let actor = data;
        $("#actorName").text(actor["name"]);
        $("#actorGender").text(actor["gender"]);
        $("#actorAge").text(actor["age"])
      })
    })
  })
</script>
