<div class="movie_info">
  <strong>Release Date: </strong><p class="releaseDate"><%= @movie.release_date %></p>
  <strong>Critic Rating/100: </strong><p class="criticRating"><%= @movie.critic_rating %></p>
  <strong>Number of Awards: </strong><p class="awards"><%= @movie.awards %></p>
  <strong>Added By: </strong><p class="createdBy"><%= @movie.created_by %></p>
</div>
