<div class="movie_info">
  <strong class="releaseDate">Release Year:</strong> <%= @movie.release_date %><br>
  <strong class="criticRating">Critic Rating/100:</strong> <%= @movie.critic_rating %><br>
  <strong class="awards">Number of Awards:</strong> <%= @movie.awards %><br>
  <strong class="createdBy">Added By:</strong> <%= @movie.created_by %>
</div>
