<h1>List of all Movies!</h1>

<td>
  <% @movies.each do |movie| %>
    <tr><h4><%= link_to movie.title, movie %></h4></tr>
    <tr><p><%= link_to "Movie Actors", movie_actors_path(movie) %></p></tr><br>
  <% end %>
</td>
